/****************BASE***************/

.font-link-base {
  font-family: 'Inter', sans-serif;
  color: black;
}

.font-link-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.font-link-light {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-big-name {
  font-size: 10vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.App-small-name {
  font-size: 4vmin;
  margin-top: 0;
  margin-bottom: 2vmin;
  color: white;
}

.App-header-base {
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header-white {
  background-image: url('assets/bg_white.svg');
}

.App-header-black {
  background-image: url('assets/bg.svg');
}

.App-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-buttons-container {
  min-height: 10vmin;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-display-flex {
  display: flex;
}

.App-button-base {
  height: 10vmin;
  margin-top: 5vmin;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  border: none;
  background-position: center;
  cursor:pointer;
  color: white;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

.App-button-start {
  background-image: url('assets/play_button.svg');
  width: 30vmin;
  height: 6vmin;
  margin-top: 4vmin;
  background-size: contain;
  margin-bottom: 1vmin;
}
.App-button-start:hover {
  opacity: 85%;
}

.App-teams-button-back {
  background-image: url('assets/back_button.svg');
  background-size: contain;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

/****************BASE***************/

.App-button-collection {
  background-size: contain;
  width: 15vmin;
  height: 5vmin;
}

.App-button-list {
  background-image: url('assets/buttons/list_button.svg');
}
.App-button-list:hover {
  background-image: url('assets/buttons/list_hover.svg');
}

.App-button-set {
  background-image: url('assets/buttons/set_button.svg');
}
.App-button-set:hover {
  background-image: url('assets/buttons/set_hover.svg');
}

.App-button-map {
  background-image: url('assets/buttons/map_button.svg');
}
.App-button-map:hover {
  background-image: url('assets/buttons/map_hover.svg');
}

.App-button-list-focused {
  background-image: url('assets/buttons/list_focused.svg');
}
.App-button-set-focused {
  background-image: url('assets/buttons/set_focused.svg');
}
.App-button-map-focused {
  background-image: url('assets/buttons/map_focused.svg');
}

.App-ducks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-ducks-row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.App-ducks-row-top {
  padding-top: 3vmin;
  padding-bottom: 0.5vmin;
}

.App-ducks-row-bottom {
  padding-top: 0.5vmin;
  padding-bottom: 2vmin;
}

.App-duck-container {
  background-image: url('assets/duck_box.svg');
  height: 18vmin;
  width: 18vmin;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.App-duck-container-best {
  background-image: url('assets/box_best.svg');
}


.App-duck-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2vmin;
  margin-right: 0;
}

.App-duck-image-alex {
  background-image: url('assets/ducks/alex.svg');
}

.App-duck-image-daniel {
  background-image: url('assets/ducks/daniel.svg');
}

.App-duck-image-dorian {
  background-image: url('assets/ducks/dorian.svg');
}

.App-duck-image-jack {
  background-image: url('assets/ducks/jack.svg');
}

.App-duck-image-kristian {
  background-image: url('assets/ducks/kristian.svg');
}

.App-duck-image-leo {
  background-image: url('assets/ducks/leo.svg');
}

.App-duck-image-mrpink {
  background-image: url('assets/ducks/mr.pink.svg');
}

.App-duck-image-oliver {
  background-image: url('assets/ducks/oliver.svg');
}

.App-duck-image-piter {
  background-image: url('assets/ducks/piter.svg');
}

.App-duck-image-vanessa {
  background-image: url('assets/ducks/vanessa.svg');
}


.App-duck-container-label {
  background-image: url('assets/duck_label.svg');
  position: absolute;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -4.7vmin;
  margin-left: 0.5vmin;
  width: 8vmin;
  text-align: center;
}

.App-display-none {
  display: none;
}

.App-functions-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.App-button-action {
  background-size: contain;
  height: 4vmin;
  width: 10vmin;
  margin: 0 0.25vmin 0.25vmin;
}

.App-button-add {
  background-image: url('assets/actions/add.svg');
  margin-left: 0;
  margin-right: 0;
}
.App-button-add:hover {
  background-image: url('assets/actions/add-hover.svg');
}

.App-button-remove {
  background-image: url('assets/actions/remove.svg');
}
.App-button-remove:hover {
  background-image: url('assets/actions/remove-hover.svg');
}

.App-button-sort {
  background-image: url('assets/actions/sort.svg');
}
.App-button-sort:hover {
  background-image: url('assets/actions/sort-hover.svg');
}

.App-button-shuffle {
  background-image: url('assets/actions/shuffle.svg');
}
.App-button-shuffle:hover {
  background-image: url('assets/actions/shuffle-hover.svg');
}

.App-button-filter {
  background-image: url('assets/actions/filter.svg');
}
.App-button-filter:hover {
  background-image: url('assets/actions/filter-hover.svg');
}

.App-button-partition {
  background-image: url('assets/actions/partition.svg');
}
.App-button-partition:hover {
  background-image: url('assets/actions/partition-hover.svg');
}

.App-unclickable-button {
  pointer-events: none;
  opacity: 40%;
}

.App-button-back {
  background-image: url('assets/back_button.svg');
  background-size: contain;
  width: 20vmin;
  height: 5vmin;
  position: absolute;
  top: 1vmin;
  right: 5vmin;
}
.App-button-back:hover {
  background-image: url('assets/back_button_hover.svg');
}


.App-info-container {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
}

.App-info-container-text {
  color: #5f5e5e;
  font-size: 2.5vmin;
  white-space: pre-line;
}
