/****************BASE***************/

.font-link-base {
  font-family: 'Inter', sans-serif;
  color: black;
}

.font-link-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.font-link-light {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-big-name {
  font-size: 10vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.App-small-name {
  font-size: 4vmin;
  margin-top: 0;
  margin-bottom: 2vmin;
  color: white;
}

.App-header-base {
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header-white {
  background-image: url('assets/bg_white.svg');
}

.App-header-black {
  background-image: url('assets/bg.svg');
}

.App-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-buttons-container {
  min-height: 10vmin;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-display-flex {
  display: flex;
}

.App-button-base {
  height: 10vmin;
  margin-top: 5vmin;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  border: none;
  background-position: center;
  cursor:pointer;
  color: white;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

.App-button-start {
  background-image: url('assets/play_button.svg');
  width: 30vmin;
  height: 6vmin;
  margin-top: 4vmin;
  background-size: contain;
  margin-bottom: 1vmin;
}

.App-button-back {
  background-image: url('assets/back_button.svg');
  background-size: contain;
  width: 20vmin;
  height: 5vmin;
  position: absolute;
  top: 1vmin;
  right: 5vmin;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

/****************BASE***************/

.App-button-collection {
  background-size: contain;
  width: 15vmin;
  height: 5vmin;
}

.App-button-list {
  background-image: url('assets/list_button.svg');
}

.App-button-set {
  background-image: url('assets/set_button.svg');
}

.App-button-map {
  background-image: url('assets/map_button.svg');
}

.App-base-text {
  margin-bottom: 2vmin;
}

.App-photo-album-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-photo-purple-bg {
  height: 34vmin;
  width: 42vmin;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('assets/photo_purple_bg.svg');
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.App-photo-purple-bg-left {
  justify-content: right;
  margin-right: -0.5vmin;
}

.App-photo-purple-bg-right {
  justify-content: left;
  margin-left: -0.5vmin;
}

.App-photo-purple-separator {
  height: 34vmin;
  width: 4vmin;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('assets/photo_purple_separator.svg');
}

.App-photo-white-bg {
  background-repeat: no-repeat;
  background-size: contain;
  height: 32vmin;
  width: 39vmin;
}

.App-photo-white-bg-left {
  background-image: url('assets/photo_white_bg_left.svg');
}

.App-photo-white-bg-right {
  background-image: url('assets/photo_white_bg_right.svg');
}

.App-photo-row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.App-photo-row-top {
  padding-top: 3vmin;
  padding-bottom: 0.5vmin;
}

.App-photo-row-bottom {
  padding-top: 0.5vmin;
  padding-bottom: 2vmin;
}

.App-photo-gray-bg {
  background-image: url('assets/photo_gray_bg.svg');
  height: 13vmin;
  width: 10vmin;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vmin;
  margin-left: 1vmin;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App-photo-gray-bg-grayscale {
  filter: grayscale(100);
}

.App-photo-image {
  height: 8vmin;
  width: 8vmin;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2vmin;
  margin-right: 0;
}

.App-photo-image-alice {
  background-image: url('assets/images/alice.svg');
}

.App-photo-image-olivia {
  background-image: url('assets/images/olivia.svg');
}

.App-photo-image-emily {
  background-image: url('assets/images/emily.svg');
}

.App-photo-image-emma {
  background-image: url('assets/images/emma.svg');
}

.App-photo-image-charlotte {
  background-image: url('assets/images/charlotte.svg');
}

.App-photo-image-diana {
  background-image: url('assets/images/diana.svg');
}

.App-photo-image-edward {
  background-image: url('assets/images/edward.svg');
}

.App-photo-image-evie {
  background-image: url('assets/images/evie.svg');
}

.App-photo-image-helena {
  background-image: url('assets/images/helena.svg');
}

.App-photo-image-jamie {
  background-image: url('assets/images/jamie.svg');
}

.App-photo-image-larry {
  background-image: url('assets/images/larry.svg');
}

.App-photo-image-leo {
  background-image: url('assets/images/leo.svg');
}

.App-photo-image-oliver {
  background-image: url('assets/images/oliver.svg');
}

.App-photo-image-thomas {
  background-image: url('assets/images/thomas.svg');
}

.App-photo-image-henry {
  background-image: url('assets/images/henry.svg');
}

.App-photo-image-daniel {
  background-image: url('assets/images/daniel.svg');
}

.App-photo-image-noah {
  background-image: url('assets/images/noah.svg');
}

.App-photo-image-david {
  background-image: url('assets/images/david.svg');
}

.App-photo-description {
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: -1.7vmin;
}

.App-functions-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2vmin;
}

.App-dropdown-container {
  margin-right: 1vmin;
}

.App-input-container {
  margin-left: 1vmin;
}

select {
  border-radius: 0;
  width: 25vmin;
  height: 3vmin;
  padding: 0.5vmin;
  border: 1px solid #bababa;
  font-size: 1.5vmin;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('assets/dropdown_arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
  display: none;
}

.App-not-clickable {
  pointer-events: none;
  opacity: 0.5;
}

.App-display-none {
  display: none;
}
